#root {
  all: unset;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#threejs-canvas {
  height: 100%;
}

.card {
  margin-top: 1rem;
}

.read-the-docs {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}
